* {
  margin-left: 50px;
  margin-right: 30px;
  background-color: bisque;
}
img {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(84, 82, 82);
  transition: all 0.5s;
  /* box-sizing: 1px sol border-box ; */
}
img:hover {
  transform: scale(1.2) rotate(10deg);
}
.header {
  display: flex;
}
h2 {
  border: 3px solid  
  margin-top: 100px;
  margin-left: 50px; 
  display: flex;
}
h1 {
  margin-top: 60px;
  margin-left: 50px;
}
.main-div section {
  /* margin-left: 50px; */
  border: 0px;
  padding: 5px;
}
ul {
  list-style: none;
}
.education {
  display: flex;
}
.hr{
  display: flex;
}
.edu-date {
  margin-right: 200px;
  margin-block-start: 20px;
}
li {
  margin: 3px;
}
body {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}
.job {
  display: flex;
}
.hobby{
  display: flex;
}
.contact{
display: flex;
}
/* .cont-ul {
  margin-left: 10px;
  margin-right: 20px;
} */
/* .cont-ul li{
  margin-left: 10px;
} */
/* .cont-li
{
  margin-right: 30px;
  margin-left: 20px;
  border: 1px solid black;
} */

/* .cont-li a{
  border: 1px solid black;
} */
/* .cont-li li{
  border: 1px solid black;
} */