img {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
img:hover {
  transform: scale(1.2) rotate(10deg);
}

.header {
  display: flex;
}

h1 {
  margin-top: 100px;
  margin-left: 50px;
}

.main-div section {
  margin-left: 30px;
  border: 1px solid rgb(172, 130, 130);
  padding: 10px;
}

ul {
  list-style: none;
}

.education {
  display: flex;
}

.edu-date {
  margin-left: 200px;
}
li {
  margin: 10px;
}

body {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}
